.newpost {
    display: flex;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background: #fff;
    margin-right: 12px;
    margin-left: 12px;
}

.newpost-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    margin-right: 15px;
}

.newpost-profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.newposter-username {
    width: 100%;
    margin-top: 5px;
    color: #000000;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: min(14px, 4vw);
}

.newpost-content {
    flex: 1;
}

form .newpost-header {
    border: none;
    padding: 2px 4px;
    margin-bottom: 2px;
    font-size: 1rem;
    font-weight: 600;
    background: transparent;
    color: #000;
    outline: none;
    transition: 0s;
}

form .newpost-header:focus {
    border-radius: 12px;
    border: 2px solid #423a38;
}

.newpost-textarea {
    width: 100%;
    min-height: 80px;
    resize: vertical;
    border: none;
    border-radius: 12px;
    padding: 10px;
    background: #ddd;
    color: #000;
    font-size: 0.95rem;
    outline: none;
    margin-bottom: .75rem;
}

.newpost-textarea:focus {
    border-radius: 12px;
    border: 2px solid #444;
}

.newpost-submit {
    align-self: flex-end;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background: #000;
    color: #ddd;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

.newpost-submit:hover {
    background: #3a3a3a;
}