.posts-container {
  margin: 40px;
}

.post {
  display: flex;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: #fff;
  margin-right: 12px;
  margin-left: 12px;
}

.post-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin-right: 15px;
}

.post-profile img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.poster-username {
  width: 100%;
  margin-top: 5px;
  color: #000000;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: min(14px, 4vw);
}

.post-content {
  flex: 1;
}

.post-header {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.post-time {
  font-size: 14px;
  color: gray;
  margin-left: 10px;
}

.post-text {
  font-size: 14px;
  line-height: 1.5;
}