#search {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 24px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-results {
    position: absolute;
    justify-content: center;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff !important;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    max-height: 300px;
    overflow-y: auto;
    z-index: 9999;
    display: none;
    font-family: Arial, sans-serif;
}


.search-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    background-color: #fff !important;
    font-size: 15px;
    transition: background 0.2s ease;
}


.search-item:hover {
    background-color: #f8f8f8;
}

.search-item img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
}